<div class="sidebar-pane pane">
  <div class="filterset">
    <input type="text" placeholder="Search"/>
  </div>
  <div class="filterset">
    <h2 class="filterset-title title">File Formats</h2>
    <input type="checkbox">CSV</input>
    <input type="checkbox">Microsoft Excel</input>
    <input type="checkbox">XML</input>
  </div>
</div>
<div id="results-pane pane">
  
</div>
