<div class="center-card">
  <form action="" method="get" accept-charset="utf-8">
    <label for="username"><span>Username</span><input type="text" name="username" id="username" value="" /> </label>
    <label for="password"><span>Password</span><input type="password" name="password" id="" value="" /> </label>
    <button type="submit">Login</button>
  </form>
</div>
