$base-font: 14px;
$scale: 1.25;

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: modular-scale($base-font, 3, $scale);
  line-height: modular-scale($base-font, 4, $scale);
}

h2 {
  font-size: modular-scale($base-font, 2, $scale);
  line-height: modular-scale($base-font, 3, $scale);
}

h3 {
  font-size: modular-scale($base-font, 2, $scale);
}

p {
  line-height: modular-scale($base-font, 2, $scale);
}

.detail-text {
  color: #858585;
}

